@import "../utils/variable";



.vignette-media-bot{
    color: $colorprim;
    font-size: large;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.vignette-media-like{
    color: black;
    font-weight: lighter;
}

.placeBot{
    position: fixed;
    font-weight: bolder;
    bottom: -5px;
    right: 36px;
    height: 50px;
    width: 376px;
    background-color: $colorbot;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botLeft{
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.botLeft, .priceBot{
    padding-top: 10px;
}